.answers .fal {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
  width: 15%;
  text-align: center;
  background: #bfbfbf;
  color: #fff;
  padding: 5px;
  font-size: 34px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
}

ion-segment {
  margin-bottom: 10px;
}

ion-segment-button {
  width: 10px;
  min-width: 10px;
}