<div class="animation {{properties}}">


    <div class="cloud"></div>

    <div class="grass"></div>
    <div class="grass"></div>
    <div class="grass"></div>
    <div class="grass"></div>
    <div class="grass"></div>
    <div class="grass"></div>

    <div class="hill"></div>
    <div class="hill second-hill"></div>
    <div class="hill third-hill"></div>
    <div class="tree"></div>
    <div class="tree second-tree"></div>

    <div class="bear">
        <div class="head">
            <div class="head-copy"></div>
            <div class="ear-left">
                <div class="inner-ear"></div>
            </div>
            <div class="ear-right">
                <div class="inner-ear"></div>
            </div>
            <div class="pupil">
            </div>
            <div class="eye-left">
                <div class="pupil">
                </div>
            </div>
            <div class="eye-right">
                <div class="pupil">
                </div>
            </div>
            <div class="left-pupil">
            </div>
            <div class="nose">
            </div>
            <div class="mouth"></div>
            <div class="smile"></div>
            <div class="hair-left"></div>
            <div class="hair-right"></div>
        </div>
        <div class="paw-left">
            <div class="claw"></div>
            <div class="claw"></div>
            <div class="claw"></div>
        </div>
        <div class="paw-right">
            <div class="claw"></div>
            <div class="claw"></div>
            <div class="claw"></div>
        </div>
        <div class="body"></div>
        <div class="magnifying-glass"></div>
    </div>
</div>