.results .fal {
  padding: 0 5px;
  font-size: 40px;
}

.results {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
}

.left {
  text-align: left;
}

ion-card-header {
  padding-bottom: 10px;
}