// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "assets/fontawesome-pro/scss/fontawesome";
@import "assets/fontawesome-pro/scss/solid";
@import "assets/fontawesome-pro/scss/light";
@import "assets/fontawesome-pro/scss/brands";
@import "assets/fontawesome-pro/scss/regular";

.status, .distance {
  margin-top:0px;
  padding: 8px 15px;
  text-align: center;
  font-size: 14px;
  width: 50%;
  background: #f7f7f7;
  position: absolute;
  left:0;
  bottom:0;
}

app-entry ion-card,
app-detail ion-card{
  padding-bottom: 40px;
}

.distance {
  left:auto;
  right:0;
}

.bearHider {
  height: 180px;
  overflow: hidden;
}

.status.open {

  color: #fff;
  background: #4CAF50;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h,
.alert-radio-label.sc-ion-alert-md {
  text-overflow: unset;
  white-space: inherit;
}

.alert-tappable.sc-ion-alert-md {
  contain: content;
}

.inline {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

.detailButton {
  float: right;
  margin-top: -10px;
}



ion-card-title.ios.hydrated {
  font-size: 13px;
}

.sc-ion-card-ios-h {
  margin: 5px;
}

.ios .icon {
  padding: 15px;
  margin: -15px -15px 14px;
}

ion-card-header.ios.hydrated {
  padding: 12px;
}