.circle {
  background: #3aabef;
  padding-top: 100px;
  border-radius: 100%;
  overflow: hidden;
  width: 298px;
  height: 300px;
  margin: auto;
  margin-top: 25px;
}

.no-result h2 {
  text-align: center;
  color: #333;
}