<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Survey
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <div class="bearHider">
        <app-care-bear></app-care-bear>
        </div>
        <ion-card-content>
            <ion-slides pager="true" #slides>
                <ion-slide style="width:100%; text-align: left">
                    <ion-list>
                        <ion-card-title>With some additional information we can improve the services in your area.
                        </ion-card-title>
                        <ion-item>
                            <ion-label position="stacked">Your date of birth</ion-label>

                            <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Postcode</ion-label>
                            <ion-input type="number"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Gender</ion-label>
                            <br>
                            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                                <ion-select-option value="male">Male</ion-select-option>
                                <ion-select-option value="female">Female</ion-select-option>
                                <ion-select-option value="other">Other</ion-select-option>
                            </ion-select>
                        </ion-item>


                        <br>
                        <a routerLink="/services" class="no-data">I don't want to enter any data.</a>

                        <ion-button style="float:right" color="primary" (click)="next()"><i class="fal fa-chevron-right"></i></ion-button>
                        <br>
                        <br>


                    </ion-list>

                </ion-slide>
                <ion-slide>
                    <ion-list style="width:100%; text-align: left">
                        <ion-card-title>What disease does the person to be cared for suffer from?
                        </ion-card-title>



                        <ion-item>
                            <ion-label position="stacked">Disease</ion-label>
                            <br>
                            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                                <ion-select-option value="alz">Alzheimer</ion-select-option>
                                <ion-select-option value="als">Dementia</ion-select-option>
                                <ion-select-option value="aut">Autism</ion-select-option>
                                <ion-select-option value="cancer">Cancer</ion-select-option>
                                <ion-select-option value="anderes">Other disease (Please specify below)
                                </ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">Other disease</ion-label>
                            <ion-input></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">How much time do you spend caring in hours per week?
                            </ion-label>
                            <ion-input type="number"></ion-input>
                        </ion-item>
                        <br>
                        <ion-button style="float:right" color="primary" (click)="next()"><i class="fal fa-chevron-right"></i></ion-button>
                        <br>
                        <br>
                    </ion-list>
                </ion-slide>
                <ion-slide>
                    <ion-list style="width:100%;">
                        <ion-card-title>What is your relationship to the person to be cared for?
                        </ion-card-title>
                        <ion-radio-group>

                            <ion-item>
                                <ion-label>Child</ion-label>
                                <ion-radio value="kid"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>Partner</ion-label>
                                <ion-radio value="partner"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>Parent</ion-label>
                                <ion-radio value="parent"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>Relative</ion-label>
                                <ion-radio value="related"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>Not related</ion-label>
                                <ion-radio value="notrelated"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                        <br>
                        <ion-button color="primary" style="width: 100%" routerLink="/services">Save</ion-button>
                        <br>
                        <br>
                    </ion-list>
                </ion-slide>
            </ion-slides>


        </ion-card-content>
    </ion-card>
</ion-content>
